@use "sass:math";
:root {
  --window-zoom: 1;
  --window-scale: #{math.div(100vw, 1440)};

  @media (max-width: 768px) {
    --window-scale: #{math.div(100vw, 375)};
  }
}

@function liquid($size) {
  @return calc($size * var(--window-scale) * var(--window-zoom));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: liquid(16);
}

p {
  font-size: liquid(16);
}

@media (max-width: 768px) {
  h1 {
    font-size: liquid(20);
  }
  p {
    font-size: liquid(14);
  }
}

.content {
  margin-top: liquid(40);
  padding: liquid(20);
  display: flex;
  width: liquid(1440);
  max-width: 100vw;
  font-size: liquid(16);
  background-color: aqua;
}

.content-1 {
  padding: liquid(20);
  width: liquid(400);
  background-color: rgb(0, 255, 51);
}

.content-2 {
  padding: liquid(20);
  width: liquid(600);
  background-color: rgb(255, 0, 0);
}